.column.is-4
  .columns
    .column.is-10
      .box
        %h2.title.is-5
          = company.name
          %span.is-pulled-right
            = link_to 'View', [:admin, company], class: 'button is-info is-small'
        .level
          .level-item.has-text-centered
            %p
              %span.icon-card.teal.is-pulled-left
                %i.far.fa-users.fa-fw
              %span.is-pulled-right{ style: 'padding: 10px;'}
                = company.users.count
          .level-item.has-text-centered
            %p
              %span.icon-card.blue.is-pulled-left
                %i.far.fa-truck.fa-fw
              %span.is-pulled-right{ style: 'padding: 10px;'}
                = company.trucks.count
          .level-item.has-text-centered
            %p
              %span.icon-card.purple.is-pulled-left
                %i.far.fa-clipboard-list.fa-fw
              %span.is-pulled-right{ style: 'padding: 10px;'}
                = company.reports.count