%section.section
  .container
    .columns
      .column
        %h1.title #{@company.name} >> Trucks
    .columns
      .column
        %table.table.is-fullwidth
          %thead
            %tr
              %th Vehicle Number
              %th Odometer Reading
              %th Last Reading Date
              %th Last Service Date
              %th Status
          %tbody#trucks-container
            = render @trucks
      .column.is-4
        .box.fixed
          .h2.title.is-4 Create Truck
          = form_for [:admin, @company, Truck.new], remote: true do |f|
            .field
              %p.control.has-icons-left
                = f.text_field :vehicle_number, class: 'input', placeholder: 'Vehicle Number'
                %span.icon.is-small.is-left
                  %i.far.fa-hashtag
            .field
              %p.control.has-icons-left
                = f.text_field :last_odometer_reading, class: 'input', placeholder: 'Odometer Reading'
                %span.icon.is-small.is-left
                  %i.far.fa-tachometer-alt-slow
            .field
              = f.label :last_service_date, class: 'label'
              %p.control.has-icons-left
                = f.date_field :last_service_date, class: 'input'
                %span.icon.is-small.is-left
                  %i.far.fa-calendar-day
            .field
              = f.label :is_active, "Vehicle Status", class: 'label' 
              %label.checkbox
                = f.check_box :is_active
                Check to mark active
            .field.is-grouped.is-grouped-right
              %p.control
                = button_tag('submit', type: 'submit', class: 'button is-success', data: { disable_with: "<i class='fas fa-spinner fa-spin'></i>".html_safe })
              %p.control
                = link_to 'Clear', "#", class: 'button is-light'