%tr
  %td
    = link_to company.name.upcase, [:admin, company]
  %td
    = company.provision_key
  %td
    = company.user_cap
  %td
    = link_to [:admin, company, :users] do
      %i.fas.fa-users.fa-lg{ style: 'margin-right: 5px' }
    = link_to [:admin, company, :reports] do
      %i.far.fa-clipboard-list-check.fa-lg{ style: 'margin-right: 5px' }