%tr
  %td
    = link_to company.name.upcase, [:admin, company]
  %td
    = company.provision_key
  %td
    = company.user_cap
  %td
    .field.is-grouped
      %p.control
        = link_to [:admin, company, :users], class: 'button is-light' do
          %i.fas.fa-users.fa-lg.fa-fw{ style: 'margin-right: 5px' }
      %p.control
        = link_to [:admin, company, :reports], class: 'button is-light' do
          %i.far.fa-clipboard-list-check.fa-lg.fa-fw{ style: 'margin-right: 5px' }