<%= form_for [:admin, @company] do |f| %>
  <%= f.label :name, class: 'label' %>
  <%= f.text_field :name, class: 'input' %>
  <br /><br />
  <%= f.label :provision_key, class: 'label' %>
  <%= f.text_field :provision_key, class: 'input' %>
  <br /><br />
  <%= f.label :user_cap, class: 'label' %>
  <%= f.number_field :user_cap, class: 'input' %>
  <br /><br />

  <div class='field is-grouped is-grouped-centered'>
    <p class='control'>
      <%= f.submit(@company.new_record? ? "Create" : "Update", class: 'button is-primary is-fullwidth') %>      
    </p>  
    <p class='control'>
      <%= link_to("Cancel", admin_companies_path, class: 'button is-danger is-fullwidth') %>
    </p>
  </div>
<% end %>