<% success_i = "<i class='far fa-check-circle fa-fw'></i>".html_safe %>
<% fail_i = "<i class='far fa-times-circle fa-fw'></i>".html_safe %>
$("#company-status-display").replaceWith("<span class='tag <%= @company.is_active? ? 'is-success' : 'is-danger' %>' id='company-status-display'><%= @company.is_active? ? success_i : fail_i %></span>");
$("#app-status-display").replaceWith("<span class='tag <%= @company.has_app_access? ? 'is-success' : 'is-danger' %>' id='app-status-display'><%= @company.has_app_access? ? success_i : fail_i %></span>");
$("#admin-status-display").replaceWith("<span class='tag <%= @company.has_admin_access? ? 'is-success' : 'is-danger' %>' id='admin-status-display'><%= @company.has_admin_access? ? success_i : fail_i %></span>");