%section.section
  .container
    .columns
      .column.is-4.is-offset-4
        %h1.title Log in      
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field
            = f.label :email, class: 'label'
            = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'input'
          .field
            = f.label :password, class: 'label'
            = f.password_field :password, autocomplete: 'current-password', class: 'input'
          - if devise_mapping.rememberable?
            .field
              = f.check_box :remember_me
              = f.label :remember_me
          .field.is-grouped
            %p.control
              = f.submit "Log in", class: 'button is-success'
          = render 'devise/shared/links'