%tr
  %td #{report.record_number}
  %td #{report.user.fullname}
  %td #{report.is_complete? ? "Complete" : "In Progress"}
  %td #{report.created_at.strftime("%m/%d/%Y")}
  %td
    = link_to 'view', [:admin, @company, report] 
    |
    = link_to 'update', [:edit, :admin, @company, report]