= render 'admin/shared/return_link', link_text: 'Reports', link: admin_company_reports_path(@company)
%section.section
  .container
    .columns
      .column.is-four-fifths
        %h1.title.is-inline-block Record Number: #{@report.record_number}
        = status_builder(@report.is_complete)
        %p
          %span.has-text-weight-semibold  Completion Date: 
          = @report.completion_date.strftime('%m/%d/%Y at %I:%M%p')
          %br
          %span.has-text-weight-semibold  Report Location: 
          = @report.street + " " + @report.city + ", " + @report.state + " " + @report.zipcode
      .column
        %figure.image.is-128x128{style: 'margin: 0 auto;'}
          %img.is-rounded{:src => 'https://placehold.it/128x128'}
          %figcaption.title.is-4.has-text-centered{style: 'margin-top: 1rem;'} #{@report.user.fullname}
%section.section
  .container
    .columns
      .column.is-four-fifths
        %h2.title Assets Validated
        = render partial: "asset_check", collection: @report.asset_checks