%nav.navbar.is-dark{role: 'navigation'}
  .navbar-brand
    = link_to([:admin, :dashboard], class: 'navbar-item') do
      %i.fas.fa-traffic-cone.fa-lg{style: 'color: orange; margin-right: 5px'} 
      SafetyCone
  .navbar-menu
    .navbar-start
      = link_to 'Dashboard', [:admin, :dashboard], class: 'navbar-item'
      = link_to'Companies', [:admin, :companies], class: 'navbar-item'
      = link_to'Defects', [:admin, :defects], class: 'navbar-item'
    .navbar-end
      .navbar-item
        .buttons
          = link_to 'Login', '', class: 'button is-light'