<!DOCTYPE html>
<html>
  <head>
    <title>Safetycone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'admin/shared/nav' %>
    <%= render 'shared/messages' %>
    <!--<#%= params.inspect %>-->
    <%= yield %>
  </body>
</html>

<!--     <#%= render 'admin/shared/nav' if params[:admin] %> -->